:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }


body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Fair Prosper'; */
}

.frame{
    margin-top: 25px;
}
/* firstpage section */
#main-container{
    background-color: white;
    position: relative;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 800px; */
    /* margin-top: 60px; */
}
.dashboard-btn a{
    background-color: #A60035;
    display: flex;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    width: 120px;
    margin: 35px 0 0 70px;
    position: absolute;
    justify-content: center;
    /* align-items: center; */
    border-radius: 8px;
}
/* .first-container{
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
}
.about-section{
    margin-top: 35px;
}
.about{
    text-decoration: none;
    font-size: 30px;
    color: #A60035;
}
.gallery-section{
    margin-top: 35px;
}
.gallery{
    text-decoration: none;
    font-size: 30px;
    color: #A60035;
}
.schedule-section{
    margin-top: 35px;
}
.schedule{
    text-decoration: none;
    font-size: 30px;
    color: #A60035;
} */
nav {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li a {
    display: inline-block;
    color: #a60035;
    font-family: Flamenco, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 32.992px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* nav li a:hover {
    background-color: #a60035;
    color: white;
  }
  
  nav li a.active {
    background-color: #a60035;
    color: white;
  } */

.main-img{
   /* height: 200px; */
   margin-top: 50px;
   /* background: url(images/home-inv.png) no-repeat center; */
   
   /* z-index: 20px; */
}
/* .date-info-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */
.date-info{
     color: #A60035;
     font-size: 20px;
     margin-left: 80px;
}
.address-info{
    color: #858585;
    font-size: 30px;
    align-items: center;
    margin-right: 10px;
}
.map-info{
    margin-left: 60px;
    width: 250px;
}
.map-info a{
    text-decoration: none;
    color: white;
    background-color: #A60035;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
    /* width: 1000px; */
}
.timer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A60035;
    margin-top: 70px;
    height: 350px;
}
.timer-title{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    font-family:'Times New Roman', Times, serif;
}
.timer{
    display: flex;
    gap: 10rem;
    margin-top: 40px;
}
.days{
    display: flex;
    flex-direction: column;
}
.timer-days{
    color: white;
    font-size: 40px;
    /* margin: 0; */
}
.timer-days p {
    margin: 0;
}
.days-title{
    color: white;
    font-size: 20px;
}

.hours{
    display: flex;
    flex-direction: column;
}
.timer-hours p{
    color: white;
    font-size: 40px;
    margin: 0;
}
.hours-title{
    color: white;
    font-size: 20px;
}
.mins{
    display: flex;
    flex-direction: column;
}
.timer-mins p{
    color: white;
    margin: 0;
    font-size: 40px;
}
.mins-title{
    color: white;
    font-size: 20px;
}
.secs{
    display: flex;
    flex-direction: column;
}
.timer-secs p{
    color: white;
    margin: 0;
    font-size: 40px;
}
.secs-title{
    color: white;
    font-size: 20px;
}
#second-section{
    height: 750px;
}
.card-container{
    display: flex;
    justify-content: center;
}
.info-cards{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    gap: 2rem;
    margin-top: 20px;
}
.bride-card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute; */
    /* justify-content: center; */
}
.bride-card-title p{
    color: #A60035;
    font-size: 30px;
    /* align-items: center; */
}
.bride-card{
    height: 550px;
    width: 400px;
    background-color: #A60035;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bride-img img{
    height: 280px;
    margin: 10px;
    /* overflow: hidden; */
}
.bride-name p{
    color: white;
    /* align-items: center; */
    font-size: 30px;
}
.bride-parent-name p{
    color: white;
    /* align-items: center; */
    font-size: 15px;
    margin: 0;
    /* gap: 2rem; */
}
.bride-info p{
    color: white;
    /* word-wrap:break-word; */
    justify-content: center;
    margin: 50px 30px 30px 30px;
    /* align-items: center; */
}
.groom-card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.groom-card-title p{
    color: #A60035;
    font-size: 30px;
}
.groom-card{
    height: 550px;
    width: 400px;
    background-color: #A60035;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.groom-img img{
    height: 280px;
    margin: 10px;
    /* overflow: hidden; */
}
.groom-name p{
    color: white;
    /* align-items: center; */
    font-size: 30px;
}
.groom-parent-name p{
    color: white;
    /* align-items: center; */
    font-size: 15px;
    margin: 0;
    /* gap: 2rem; */
}
.groom-info p{
    color: white;
    /* word-wrap:break-word; */
    justify-content: center;
    margin: 50px 30px 30px 30px;
    /* align-items: center; */
}
.floral-section{
    position: absolute;
    display: flex;
    gap: 61.01rem;
    margin-top: 135px;
    /* height: 400px; */
}
.floral-left-image{
    height: 500px;
}
.floral-right-image{
    height: 500px;
}
.more-info-btn-section{
    display: flex;
    justify-content: center;
    height: 120px;
}
.more-info-btn a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #A60035;
    width: 250px;
    height: 40px;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#third-section{
    height: 700px;
    background-color: #A60035;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kareyole-container-3{
    position: absolute;
    display: flex;
    gap: 25rem;
}
.wishes-title-section{
    display: flex;
    flex-direction: column;
}
.wishes-title p{
    color: white;
    font-size: 70px;
    font-weight: 900;
    font-family:cursive;
}
.bg-sliders{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}
.wishes-slider-bride-btn{
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wishes-slider-bride p{
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
}
.wishes-slider-groom-btn{
    background-color: white;
    background: transparent;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wishes-slider-groom p{
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
    color: white;
}
.wishes-card-section{
    display: flex;
    height: 200px;
    width: 350px;
}
.bride-wishes-card{
    background-color: white;
    height: 320px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 60px;
}
.quotation-icon img{
    height: 50px;
    margin: 20px 0 0 200px;
}
.bride-wishes-content{
    display: flex;
    align-items: center;
}
.bride-wishes-content p{
    word-spacing: normal;
    text-align: justify;
    text-justify: inter-word;
}
.bride-icon{
    display: flex;
    gap: 2rem;
    margin-top: 20px;
}
.bride-icon-text p{
    color: #A60035;
    font-size: 20px
}
.slider-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    gap: 2rem;
}
.left-btn{
    background-color: rgba(0, 0, 0,0.6);
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-btn{
    background-color: rgba(0, 0, 0,0.6);
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth-section{
    height: 700px;
}
.footer-mandala-img{
    position: absolute;
    display: flex;
    gap: 65.02rem;
    margin-top: 160px;
}
.kareyole-container-4{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.feedback-container{
    display: flex;
    flex-direction: column;
}
.feedback-title p{
    color: #A60035;
    font-size: 40px;
    font-weight: 900;
    font-family: cursive;
}
.feedback-options{
    display: flex;
    flex-direction: column;
    margin: 0;
    /* justify-content: center; */
    align-items: center;
}
.feedback-options-title p{
    color: black;
    font-size: 20px
}
.feedback-option-selectors{
    display: flex;
    margin-right: 120px;
    /* gap: 3rem; */
}
.bride-side{
    background-color: #A60035;
    text-decoration: none;
    color: white;
    width: 170px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 800;
}
.groom-side{
    background-color: #F7E6EB;
    text-decoration: none;
    color: #A60035;
    width: 150px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 800;
    position: absolute;
    margin-left: 140px
}
.feedback-input-container{
    position: absolute;
    margin:300px 0 0 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.fullname-container input{ 
    background-color: #F7E6EB;
    border: none;
    padding: 10px;
    width: 320px;
    height: 40px;
    border-radius: 10px;
    font-weight: 900;
    outline: none;
}
.message-input input{
    background-color: #F7E6EB;
    border: none;
    padding: 10px;
    width: 320px;
    height: 150px;
    overflow:initial;
    word-wrap: break-word;
    border-radius: 10px;
    font-weight: 900;
    outline: none;
    margin-top: 40px;
    text-align: justify;
    text-justify: inter-word;
}
.feedback-submit-btn a{
    text-decoration: none;
    margin-top: 40px;
    width: 325px;
    background-color: #A60035;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-weight: 900;
    cursor: pointer;
}
#fifth-section{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 1510px;
}
.kareyole-container-5{
    background-color: #A60035;
    height: 300px;
}
.guidance-section{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 90px;
}
.contact-guide-section{
    display: flex;
    flex-direction: column;
}
.contact-bg{
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 6px;
}
.contact-bg img{
    justify-content: center;
    align-items: center;

}
.contact-title p{
    color: white;
    font-size: 20px;
    font-weight: 450;
    margin-left: 25px;
    /* justify-content: center; */
}
.location-guide-section{
    display: flex;
    flex-direction: column;
}
.location-bg{
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 6px;
}
.location-bg img{
    justify-content: center;
    align-items: center;

}
.location-title p{
    color: white;
    font-size: 20px;
    font-weight: 450;
    margin-left: 25px;
    /* justify-content: center; */
}
.about-guide-section{
    display: flex;
    flex-direction: column;
}
.about-bg{
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 6px;
}
.about-bg img{
    justify-content: center;
    align-items: center;

}
.about-title p{
    color: white;
    font-size: 20px;
    font-weight: 450;
    margin-left: 25px;
    /* justify-content: center; */
}
.gallery-guide-section{
    display: flex;
    flex-direction: column;
}
.gallery-bg{
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 6px;
}
.gallery-bg img{
    justify-content: center;
    align-items: center;

}
.gallery-title p{
    color: white;
    font-size: 20px;
    font-weight: 450;
    margin-left: 25px;
    /* justify-content: center; */
}
#footer-section{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 300px;
}
.kareyole-footer-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.footer-title-section{
    display: flex;
    gap: 1.2rem;
    font-size: 30px;
}
.footer-link{
    margin-top: 28px;
    /* text-decoration: none; */
}
.footer-link a{
    text-decoration: none;
    color: #A60035;
}
.footer-logo{
    margin-top: 10px;
}
.footer-logo img{
    height: 150px;
}
.footer-mark{
    margin-top: 8px;
}
.footer-mark p{
    font-size: 40px;
    font-weight: 900;
    font-family: cursive;
}